<ion-view title="Friends">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contact_list" type="item-text-wrap" href="#/tab/friends/{{contact.$id}}">
        <!-- friend.fullName gets accessed via the controller of Friends. and then gets stored in the
              stateParams of the frend-profile in the factory using friend-profile url. -->
        <h2>{{contact.fullName}}</h2>

        <!-- TEST -->
        <!-- Below is a test to see that the ID of each contact is accessible
             uncomment it to see for yourself. The ID will be visible on the
             Friends tabs, between each contact's name and DOB. -->
        <!-- <p>{{contact.$id}}</p> -->
        <!-- END OF TEST -->

        <p>{{convertTime(contact.dateOfBirth)}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
